__pycache__/
*.pyc
database/*.db
*.csv
*.sqlite
*.sqlite3
.env
env.txt
postgres_data/
app/templates/*.new.html
.tmp_rw/
.tmp_test/
pc_test_*/
COLE_A_*
SUA_STRING_*
*.db-journal
.tmp_import.db
.tmp_import.db-journal
