version: "3.9"

services:
  app:
    build: .
    container_name: plataforma_compras_app
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: plataforma_compras_db
    environment:
      POSTGRES_DB: compras
      POSTGRES_USER: compras
      POSTGRES_PASSWORD: compras
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

volumes:
  postgres_data:
